---
import BaseLayout from '../layouts/BaseLayout.astro'
import ProjectCardLeft from '../components/ProjectCardLeft.astro'
import ProjectCardRight from '../components/ProjectCardRight.astro'
const allProjects = await Astro.glob('./projects/*.md')
const pageTitle = 'Some of my projects'

let i = 0
---

<BaseLayout pageTitle={pageTitle}>
    <div class="container">
        <div class="projects">
            <ul>
                {
                    allProjects.map((post) =>
                        i++ % 2 === 0 ? (
                            <ul role="list" class="link-card-grid">
                                <ProjectCardLeft
                                    title={post.frontmatter.title}
                                    image={post.frontmatter.image}
                                    description={post.frontmatter.description}
                                    link={post.frontmatter.link}
                                />
                            </ul>
                        ) : (
                            <ul role="list" class="link-card-grid">
                                <ProjectCardRight
                                    title={post.frontmatter.title}
                                    image={post.frontmatter.image}
                                    description={post.frontmatter.description}
                                    link={post.frontmatter.link}
                                />
                            </ul>
                        )
                    )
                }
            </ul>
        </div>
    </div>
</BaseLayout>

<style>
    .container {
        width: 80%;
        margin: auto auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    .projects ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }
</style>
