---
import BaseLayout from '../layouts/BaseLayout.astro'

import ProjectCardLeft from '../components/ProjectCardLeft.astro'
import ProjectCardRight from '../components/ProjectCardRight.astro'

import ProjectTile from '../components/ProjectTile.astro'
const allProjectCards = await Astro.glob('./project_cards/*.md')
const allProjectTiles = await Astro.glob('./project_tiles/*.md')
const pageTitle = 'Some of my projects'

let i = 0
---

<BaseLayout pageTitle={pageTitle}>
    <h1>Some of my projects</h1>
    <div class="container">
        <div class="project-cards">
            <ul>
                {
                    allProjectCards.map((post) =>
                        i++ % 2 === 0 ? (
                            <ul>
                                <ProjectCardLeft
                                    title={post.frontmatter.title}
                                    image={post.frontmatter.image}
                                    description={post.frontmatter.description}
                                    link={post.frontmatter.link}
                                />
                            </ul>
                        ) : (
                            <ul>
                                <ProjectCardRight
                                    title={post.frontmatter.title}
                                    image={post.frontmatter.image}
                                    description={post.frontmatter.description}
                                    link={post.frontmatter.link}
                                />
                            </ul>
                        )
                    )
                }
            </ul>
        </div>
<!--         <div class="project-tiles">
            <ul>
                {
                    allProjectTiles.map((post) => (
                        <ul role="list">
                            <ProjectTile
                                title={post.frontmatter.title}
                                image={post.frontmatter.image}
                                description={post.frontmatter.description}
                                link={post.frontmatter.link}
                            />
                        </ul>
                    ))
                }
            </ul>
        </div> -->
    </div>
</BaseLayout>

<style>
    .container {
        width: 80%;
        margin: auto auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    .project-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-cards ul {
        list-style: none;
        margin: 0, auto;
        padding: 0;
    }
</style>
